body {
  font-family: arial;
}



section {
  width: 100%;
  /* max-width: 780px; */
  margin: 0;
  padding: 0px;
  /* border: 1px solid lightgrey; */
  /* background-color: #fafafa; */
}
h1 {
  text-align: left;
  color: rgb(0, 0, 0);
}
ul {
  display: block;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

}
ul li {
  float: left;
  margin:0px;
  align-items: center;

}
body ul li span {
  font-family: arial;
  font-size: 14px;
  color: #5a5a5a;
  text-align: center;
}
body ul li img {
  margin: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
}

p strong {
  color: red;
}

.highlight {
  color: rgb(0, 0, 0);
}

.tip {
    position: absolute;
    padding: 10px;
    background-color: grey;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
  text-align: left;
}
form {
  margin: 0 auto;
}
form input[type=text], form input[type=password], form input[type=number] {
  width: 20%;
  padding: 10px;
}

button {
  padding: 10px;
  width: 20%;
  display: block;
  margin-top: 20px;
}

button:hover {
  background-color: grey;
  color: white;
}

form label {
  padding: 5px 0;
  display: block;
  margin-top: 15px;
}

form .error {
  font-size: 80%;
  color: darkred;
}

#Output {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 5px;
    margin: 20px 0;
    background: white;
}


.dropbtn {
  background-color: #606060;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(133, 133, 133, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(120, 120, 120);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #000000;}